/* Basic reset and fonts */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cormorant Garamond", serif;
    line-height: 1.6;
    color: #000000;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 20px;
    padding-right: 10px;
    background-color: #ffffff;
}

/* Header styles */
header {
    margin-bottom: 10px;
}

header h1 {
    font-size: 3.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.25em;
    color: #000000;
    line-height: 1.5;
    margin-bottom: 50px; /* optional: adjust spacing */
}

nav {
    margin-top: 1px;
}

nav a {
    color: #333;
    text-decoration: none;
    margin-right: 20px;
}

nav a:hover {
    text-decoration: underline;
}

/* Main content */
section {
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 10px;
    font-size: 2em;
}

/* Timeline/Posts styling */
.timeline {
    border-left: 1px solid #656565;
    padding-left: 18.5px;
    margin-left: 10px;
}

.post {
    margin-bottom: 10px;
    position: relative;
}

.post:before {
    content: "";
    width: 12px;
    height: 12px;
    background: #fff;
    border: 2px solid #333;
    border-radius: 50%;
    position: absolute;
    left: -27px;
    top: 5px;
}

time {
    color: #4b4b4b;
    font-size: 0.9em;
}

.post h3 {
    margin: 10px 0;
}

.post a {
    color: #000000;
    text-decoration: none;
}

.post a:hover {
    text-decoration: underline;
}
/* Footer */
footer {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #eee;
    color: #666;
    font-size: 0.9em;
}